# CDC gun violence stats

In [1]:
import pandas as pd
import seaborn as sns

/usr/local/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
df = pd.read_csv('data-table.csv')

TThis data has been gotten from the CDC maybe indirectly but as far as sources go this one is pretty legitimate.

## Investigating the dataset

In [4]:
df.head(15)

    YEAR STATE  RATE  DEATHS                                        URL
0   2021    AL  26.4    1315      /nchs/pressroom/states/alabama/al.htm
1   2021    AK  25.2     182       /nchs/pressroom/states/alaska/ak.htm
2   2021    AZ  18.3    1365      /nchs/pressroom/states/arizona/az.htm
3   2021    AR  23.3     698     /nchs/pressroom/states/arkansas/ar.htm
4   2021    CA   9.0    3576   /nchs/pressroom/states/california/ca.htm
5   2021    CO  17.8    1064     /nchs/pressroom/states/colorado/co.htm
6   2021    CT   6.7     248  /nchs/pressroom/states/connecticut/ct.htm
7   2021    DE  16.6     158     /nchs/pressroom/states/delaware/de.htm
8   2021    FL  14.1    3142      /nchs/pressroom/states/florida/fl.htm
9   2021    GA  20.3    2200      /nchs/pressroom/states/georgia/ga.htm
10  2021    HI   4.8      71       /nchs/pressroom/states/hawaii/hi.htm
11  2021    ID  16.3     309        /nchs/pressroom/states/idaho/id.htm
12  2021    IL  16.1    1995     /nchs/pressroom/states/illinois/il.htm
13  2021    IN  18.4    1251      /nchs/pressroom/states/indiana/in.htm
14  2021    IA  11.2     364         /nchs/pressroom/states/iowa/ia.htm

In [14]:
df.info()
print("This is a very solid and complete dataset.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    450 non-null    int64
 1   STATE   450 non-null    object
 2   RATE    450 non-null    float64
 3   DEATHS  450 non-null    int64
 4   URL     450 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 17.7+ KB
This is a very solid and complete dataset

In [11]:
df.YEAR.value_counts()

2021    50
2020    50
2019    50
2018    50
2017    50
2016    50
2015    50
2014    50
2005    50
Name: YEAR, dtype: int64

This tells us that there are no gaps in years. That all 50 states of the US are accounted for from 2005 ... 2014 - 2021.

There is a gap between 2005 and 2014.

In [16]:
df.STATE.value_counts()

AL    9
PA    9
NV    9
NH    9
NJ    9
NM    9
NY    9
NC    9
ND    9
OH    9
OK    9
OR    9
RI    9
AK    9
SC    9
SD    9
TN    9
TX    9
UT    9
VT    9
VA    9
WA    9
WV    9
WI    9
NE    9
MT    9
MO    9
MS    9
AZ    9
AR    9
CA    9
CO    9
CT    9
DE    9
FL    9
GA    9
HI    9
ID    9
IL    9
IN    9
IA    9
KS    9
KY    9
LA    9
ME    9
MD    9
MA    9
MI    9
MN    9
WY    9
Name: STATE, dtype: int64

All states are accounted from in the years they are surveyed.

In [ ]:
def is_unique(s):
    a = s.to_numpy() # s.values (pandas<0.24)
    return (a[0] == a).all()

is_unique(df['counts'])

In [20]:
def is_unique(df):
    a = df.to_numpy()
    return (a[0] == a).all()

is_unique(df["STATE"])

False

In the efforts of trying to see if all states were recorded 9 times properly I have tried importing a function to do so. I have misued it and have come to a conclusion that there are other ways of accomplishing answer this question.

In [21]:
df[df["STATE"] != 9]

,YEAR,STATE,RATE,DEATHS,URL
0,2021,AL,26.4,1315,/nchs/pressroom/states/alabama/al.htm
1,2021,AK,25.2,182,/nchs/pressroom/states/alaska/ak.htm
2,2021,AZ,18.3,1365,/nchs/pressroom/states/arizona/az.htm
3,2021,AR,23.3,698,/nchs/pressroom/states/arkansas/ar.htm
4,2021,CA,9.0,3576,/nchs/pressroom/states/california/ca.htm
...,...,...,...,...,...
445,2005,VA,11.5,888,/nchs/pressroom/states/virginia/virginia.htm
446,2005,WA,8.8,567,/nchs/pressroom/states/washington/washington.htm
447,2005,WV,13.8,261,/nchs/pressroom/states/westvirginia/westvirgin...
448,2005,WI,8.5,474,/nchs/pressroom/states/wisconsin/wisconsin.htm
449,2005,WY,13.4,71,/nchs/pressroom/states/wyoming/wyoming.htm

In [23]:
df.STATE.sum()

'ALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWYALAKAZARCACOCTDEFLGAHIIDILINIAKSKYLAMEMDMAMIMNMSMOMTNENVNHNJNMNYNCNDOHOKORPARISCSDTNTXUTVTVAWAWVWIWY'

Even sillier still is looking into a new fix when I simply could have just readin text editor.

In conclusion all statesare equally represented in the given dataset.